/*Colores*/
$colores : (rojo : red,
    azul : blue,
    amarillo : yellow,
    blanco : white,
    negro : black,
    macro: #0e1525,
);



/*Section Hero*/

$tituloHero : white;
$parrafoHero : white;
$iconosHero : 5vw ;


/*tamaño de fuentes*/

$tamañoFuentes : (
hero-titulo : 10vw,
hero-parrafo : 3rem,
hero-parrafo-responsive : 2rem

);


/*ColorNav*/

$coloresNav : (colorNav : rgb(36, 40, 85),


);



/*titulosIndes*/

$coloresTitulos : (
    chevallier : white,
    empArg : rgb(255, 255, 255),
    urquiza : rgb(255, 255, 255),

);


/*BordesIndex*/


$bordeChevallier :8px outset red;

$bordeEmpresaArgentina: 8px outset yellow;

$bordeUrquiza : 8px outset rgba(0, 0, 255, 0.966);

/*fuente*/

$fuente : 'Press Start 2P',
cursive;
$fuente2 : 'Monda',
sans-serif;
$fuente3 : 'Paytone One',
sans-serif;
;

/*Separador*/

$colorSeparador : #0e1525;

/*Color Foooter*/

$fondoFooter: #080b13;



/*FOndos secciones empresas*/
@mixin sectionEmpresas ($fondosEmpresas) {
    
    background: url($fondosEmpresas) no-repeat fixed center center #333;
    height:100%;
    background-size: cover;
    margin-top: 15px;
}



