
/*Colores*/
$colores : (

    rojo : red ,
    azul : blue,
    amarillo : yellow,
    blanco : white,
    negro : black,
    macro:  #0e1525,
    );



/*ColorNav*/

    $coloresNav : (

        colorNav : rgba(255, 0, 0, 0.199) ,
        
        
        );



/*titulosIndes*/

$coloresTitulos : (
    chevallier : white ,
    empArg : yellow ,
    urquiza : blue,

);


/*BordesIndex*/


$bordeChevallier :8px outset red;

$bordeEmpresaArgentina: 8px outset yellow;

$bordeUrquiza : 8px outset rgb(0, 0, 255);

/*fuente*/

$fuente : 'Press Start 2P', cursive;
$fuente2 : 'Monda', sans-serif;

$fuente3 : 'Paytone One', sans-serif;  ;

/*Separador*/

$colorSeparador :  #0e1525 ;


