@import "./configuracion";

footer {
    padding-bottom: 50px;
    background-color: $fondoFooter;
    color: map-get($colores, blanco);
    margin-bottom: 0px;
}

@mixin dgrid($column, $row, $gap) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    gap: $gap;
}


.footer {
    @include dgrid(1fr 1fr, auto, 20px);
}

.iconos__footer {
    font-size: 80px;
}

footer div div {
    text-align: center;
}

h5 {



    font-size: 20px;
}

