@import "./configuracion";


/*index main*/


section {
    height: 100vh;
    width: 100%;
}








.fondoUno {

    @include fondo(url(../assets/img-chevallier.jpg))
}

.fondoDos {
    @include fondo(url(../assets/img-empresa-argentina.jpg));


}

.fondoTres {
    @include fondo(url(../assets/img-urquiza.jpg));




}

.div__separador {
    width: 100%;
    height: 200px;
    background: url(../assets/Background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 15px black);
    background-color: $colorSeparador;
    color: map-get($colores, blanco);
    font-family: $fuente3;

}

.h2__chevallier {

    hyphens: auto;
    text-align: center;
    font-size: 9vw;
    color: map-get($coloresTitulos, chevallier);
    font-family: $fuente2;
    font-weight: bold ()
}

.h2__empArg {
    @extend .h2__chevallier;
    color: map-get($coloresTitulos, empArg);
}

.h2__urquiza {
    @extend .h2__chevallier;
    color: map-get($coloresTitulos, urquiza)
}


.h2__chevallier:hover {
    color: rgb(253, 253, 253);
    @include efectoNeon(red)
}

.h2__urquiza:hover {
    color: rgb(253, 253, 253);
    @include efectoNeon(blue)
}

.h2__empArg:hover {
    color: rgb(253, 253, 253);
    @include efectoNeon(rgb(40, 192, 184))
}





.div__blur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
}

.div__separador--p {


    font-size: 70px;
    text-align: center;

}

.carruselIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 100%;
    width: 100%;

}

.carrusel__Tamaño {
    width: 100%;
    height: 100%;
}

.section__tres {

    color: map-get($colores, blanco);
    height: fit-content;
    width: 100%;
    background-color: #0e1525;
    text-align: center;
    font-family: $fuente3;
}

.pagoimg {
    width: 50vw;
}

.destinos figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.destinos figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.section__hero {

    height: 70vh;
    width: 100%;
    background: url(../assets/fondoHero.jpg);
    background-size: cover;
    background-position: bottom;


}

.section__titulo {

    text-align: center;
    margin-top: 10vh;
    font-size: 10vw;
    color: $tituloHero;
    @include efectoNeon(rgb(225, 0, 255))
}

.section__parrafo {

    font-size: map-get($tamañoFuentes, hero-parrafo);
    color: $parrafoHero;
    text-align: center;
    @include efectoNeon(rgb(225, 0, 255))
}

.section__hero--iconos {
    color: map-get($colores, blanco);
    text-align: center;
    font-size: $iconosHero;
    @include efectoNeon(rgb(225, 0, 255))
}

/*Fin del index*/





/*Chevallier*/










.section__chevallier {

    @include sectionEmpresas("../assets/img-chevallier.jpg")
}



.section__chevallier--titulo {
    margin-top: 150px;
    text-align: center;
    font-family: $fuente2;
    font-size: 10vw;
    color: white;
    @include efectoNeon(red);
    font-weight: 900;


}

.section__chevallier--h2 {
    margin-top: 150px;
    text-align: center;
    font-family: $fuente2;
    font-size: 5vw;
    color: white;
    @include efectoNeon(red);
    font-weight: 900;
}

.section__chevallier__div--parrafo {
    margin: 10px;
    font-family: $fuente2;
    color: white;
    font-size: 20px;
    overflow: hidden;
    text-align: justify;


}

/*URQUIZA*/

.section__urquiza {
    @include sectionEmpresas("../assets/img-urquiza.jpg")
}


.section__urquiza--titulo {
    @extend .section__chevallier--titulo;
    @include efectoNeon(blue);
}

.section__urquiza--h2 {
    @extend .section__chevallier--h2;
    @include efectoNeon(blue);
}

.section__urquiza__div--parrafo {
    @extend .section__chevallier__div--parrafo;

}


/*Empresa Argentina*/

.section__empArg {
    @include sectionEmpresas ("../assets/img-empresa-argentina.jpg")
}

.section__empArg--titulo {
    @extend .section__chevallier--titulo;
    @include efectoNeon(rgb(40, 192, 184))
}

.section__empArg--h2 {
    @extend .section__chevallier--h2;
    @include efectoNeon(rgb(40, 192, 184))
}

.section__empArg__div--parrafo {
    @extend .section__chevallier__div--parrafo;
}

/*Formulario*/

.cuerpo__formulario {
    background : url("../assets/pexels-alex-andrews-821754.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main__formulario {
    color: map-get($colores, formularioTextoInput);
    
    
}

.section__formulario {
    justify-content: center;
    display: flex;
}

.formulario {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 0 0 15px 10px rgb(5, 5, 5);
    height: fit-content;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba($color: #463e3e7c, $alpha: 1.0);
}

.formulario_titulo {
    
    text-align: center;
    font-size: 100px;
    @include efectoNeon(rgb(0, 0, 0))
}

.btn-formulario {
    border-radius: 5px;
     
}
