/*Resposive*/

@media screen and (max-width : 780px) {

    .fondoUno {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }


    h2 {
        font-size: 10vw;
    }


    .div__separador--p {

        font-size: 10vw;
        text-align: center;
    }


    .carruselIndex {
        display: grid;
        grid-template-columns: 1fr } 


        
        .footer{
            
            grid-template-columns: 1fr;
            
        }
        

        .section__hero {
            /*  background-color: map-get($colores, macro ); */
            height: 30vh;
            width: 100%;
            background: url(../assets/fondoHero.jpg);
            background-size: cover;
            background-position: bottom;
        
        
        }

        .section__tres {
            height: fit-content;
        }
        


    }