* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Colores*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
footer {
  padding-bottom: 30px;
  background-color: #0e1525;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.iconos__footer {
  font-size: 80px;
}

footer div div {
  text-align: center;
}

h5 {
  font-size: 50px;
}

/*Colores*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*index main*/
section {
  height: 100vh;
  width: 100%;
}

.fondoUno {
  background: url(../assets/img-chevallier.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: 8px outset red;
  margin-top: 50px;
}

.fondoDos {
  background: url(../assets/img-empresa-argentina.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: 8px outset yellow;
}

.fondoTres {
  background: url(../assets/img-urquiza.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: 8px outset rgba(0, 0, 255, 0.966);
}

.div__separador {
  width: 100%;
  height: 200px;
  background: url(../assets/Background.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 15px black);
  background-color: #0e1525;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.h2__chevallier, .h2__urquiza, .h2__empArg {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: center;
  font-size: 9vw;
  color: white;
  font-family: "Monda", sans-serif;
  font-weight: bold;
}

.h2__empArg {
  color: yellow;
}

.h2__urquiza {
  color: blue;
}

h2:hover {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px red, 0 0 80px white, 0 0 120px white;
}

.div__blur {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.div__separador--p {
  font-size: 70px;
  text-align: center;
}

.carruselIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height: 100%;
  width: 100%;
}

.section__tres {
  color: white;
  height: 50vh;
  width: 100%;
  background-color: #0e1525;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.pagoimg {
  width: 50vw;
}

.destinos figure img {
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.destinos figure:hover img {
  filter: blur(0);
}

/*Colores*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
.logo_nav {
  max-width: 100%;
}

.nav__color {
  background-color: rgba(255, 0, 0, 0.199);
}

body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
}

header {
  grid-area: 1/1/4/2;
}

main {
  grid-area: 2/1/3/2;
}

footer {
  grid-area: 3/1/4/2;
}

/*Resposive*/
@media screen and (max-width: 780px) {
  .fondoUno {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 10vw;
  }

  .div__separador--p {
    font-size: 10vw;
    text-align: center;
  }

  .carruselIndex {
    display: grid;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=estilo.css.map */