@charset "UTF-8";
/*Configuraciones para controlar estilos basicos de la pagina mas facilmente*/
/*Colores*/
/*Section Hero*/
/*tamaño de fuentes*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*mixin*/
/*ocultar desvorde de animacion*/
.animation_overflow {
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: #0e1525;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/*Configuraciones para controlar estilos basicos de la pagina mas facilmente*/
/*Colores*/
/*Section Hero*/
/*tamaño de fuentes*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*mixin*/
/*ocultar desvorde de animacion*/
.animation_overflow {
  overflow: hidden;
}

footer {
  padding-bottom: 50px;
  background-color: #080b13;
  color: white;
  margin-bottom: 0px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.iconos__footer {
  font-size: 80px;
}

footer div div {
  text-align: center;
}

h5 {
  font-size: 20px;
}

/*Configuraciones para controlar estilos basicos de la pagina mas facilmente*/
/*Colores*/
/*Section Hero*/
/*tamaño de fuentes*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*mixin*/
/*ocultar desvorde de animacion*/
.animation_overflow {
  overflow: hidden;
}

/*index main*/
section {
  height: 100vh;
  width: 100%;
}

.fondoUno {
  background: url(../assets/img-chevallier.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*  border: $bordeChevallier; */
}

.fondoDos {
  background: url(../assets/img-empresa-argentina.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*  border: $bordeChevallier; */
}

.fondoTres {
  background: url(../assets/img-urquiza.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*  border: $bordeChevallier; */
}

.div__separador {
  width: 100%;
  height: 200px;
  background: url(../assets/Background.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 15px black);
  background-color: #0e1525;
  color: white;
  font-family: "Paytone One", sans-serif;
}

.h2__chevallier, .h2__urquiza, .h2__empArg {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: center;
  font-size: 9vw;
  color: white;
  font-family: "Monda", sans-serif;
  font-weight: bold;
}

.h2__empArg {
  color: rgb(255, 255, 255);
}

.h2__urquiza {
  color: rgb(255, 255, 255);
}

.h2__chevallier:hover, .h2__empArg:hover, .h2__urquiza:hover {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px red, 0 0 80px white, 0 0 120px white;
}

.h2__urquiza:hover {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px blue, 0 0 80px white, 0 0 120px white;
}

.h2__empArg:hover {
  color: rgb(253, 253, 253);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(40, 192, 184), 0 0 80px white, 0 0 120px white;
}

.div__blur {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.div__separador--p {
  font-size: 70px;
  text-align: center;
}

.carruselIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height: 100%;
  width: 100%;
}

.carrusel__Tamaño {
  width: 100%;
  height: 100%;
}

.section__tres {
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #0e1525;
  text-align: center;
  font-family: "Paytone One", sans-serif;
}

.pagoimg {
  width: 50vw;
}

.destinos figure img {
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.destinos figure:hover img {
  filter: blur(0);
}

.section__hero {
  height: 70vh;
  width: 100%;
  background: url(../assets/fondoHero.jpg);
  background-size: cover;
  background-position: bottom;
}

.section__titulo {
  text-align: center;
  margin-top: 10vh;
  font-size: 10vw;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(225, 0, 255), 0 0 80px white, 0 0 120px white;
}

.section__parrafo {
  font-size: 3rem;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(225, 0, 255), 0 0 80px white, 0 0 120px white;
}

.section__hero--iconos {
  color: white;
  text-align: center;
  font-size: 5vw;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(225, 0, 255), 0 0 80px white, 0 0 120px white;
}

/*Fin del index*/
/*Chevallier*/
.section__chevallier {
  background: url("../assets/img-chevallier.jpg") no-repeat fixed center center #333;
  height: 100%;
  background-size: cover;
  margin-top: 15px;
}

.section__chevallier--titulo, .section__empArg--titulo, .section__urquiza--titulo {
  margin-top: 150px;
  text-align: center;
  font-family: "Monda", sans-serif;
  font-size: 10vw;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px red, 0 0 80px white, 0 0 120px white;
  font-weight: 900;
}

.section__chevallier--h2, .section__empArg--h2, .section__urquiza--h2 {
  margin-top: 150px;
  text-align: center;
  font-family: "Monda", sans-serif;
  font-size: 5vw;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px red, 0 0 80px white, 0 0 120px white;
  font-weight: 900;
}

.section__chevallier__div--parrafo, .section__empArg__div--parrafo, .section__urquiza__div--parrafo {
  margin: 10px;
  font-family: "Monda", sans-serif;
  color: white;
  font-size: 20px;
  overflow: hidden;
  text-align: justify;
}

/*URQUIZA*/
.section__urquiza {
  background: url("../assets/img-urquiza.jpg") no-repeat fixed center center #333;
  height: 100%;
  background-size: cover;
  margin-top: 15px;
}

.section__urquiza--titulo {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px blue, 0 0 80px white, 0 0 120px white;
}

.section__urquiza--h2 {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px blue, 0 0 80px white, 0 0 120px white;
}

/*Empresa Argentina*/
.section__empArg {
  background: url("../assets/img-empresa-argentina.jpg") no-repeat fixed center center #333;
  height: 100%;
  background-size: cover;
  margin-top: 15px;
}

.section__empArg--titulo {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(40, 192, 184), 0 0 80px white, 0 0 120px white;
}

.section__empArg--h2 {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(40, 192, 184), 0 0 80px white, 0 0 120px white;
}

/*Formulario*/
.cuerpo__formulario {
  background: url("../assets/pexels-alex-andrews-821754.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__formulario {
  color: rgb(255, 255, 255);
}

.section__formulario {
  justify-content: center;
  display: flex;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  box-shadow: 0 0 15px 10px rgb(5, 5, 5);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  border-radius: 15px;
  background-color: #463e3e;
}

.formulario_titulo {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px rgb(0, 0, 0), 0 0 80px white, 0 0 120px white;
}

.btn-formulario {
  border-radius: 5px;
}

/*Configuraciones para controlar estilos basicos de la pagina mas facilmente*/
/*Colores*/
/*Section Hero*/
/*tamaño de fuentes*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*mixin*/
/*ocultar desvorde de animacion*/
.animation_overflow {
  overflow: hidden;
}

.logo__barra--nav {
  width: 10vh;
}

.logo_nav {
  max-width: 100%;
}

.nav__color {
  background-color: rgb(36, 40, 85);
}

body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
}

header {
  grid-area: 1/1/4/2;
}

main {
  grid-area: 2/1/3/2;
}

footer {
  grid-area: 3/1/4/2;
}

/*Configuraciones para controlar estilos basicos de la pagina mas facilmente*/
/*Colores*/
/*Section Hero*/
/*tamaño de fuentes*/
/*ColorNav*/
/*titulosIndes*/
/*BordesIndex*/
/*fuente*/
/*Separador*/
/*Color Foooter*/
/*mixin*/
/*ocultar desvorde de animacion*/
.animation_overflow {
  overflow: hidden;
}

/*Resposive*/
@media screen and (max-width: 780px) {
  .fondoUno {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    font-size: 10vw;
  }
  .div__separador--p {
    font-size: 10vw;
    text-align: center;
  }
  .carruselIndex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .section__hero {
    height: 60vh;
    width: 100%;
    background: url(../assets/fondoHero.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .section__tres {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section__parrafo {
    font-size: 2rem;
  }
  .section__chevallier {
    background: url(../assets/img-chevallier.jpg) no-repeat fixed center center #333;
    background-size: cover;
    overflow: auto;
    margin-top: 50px;
  }
  .section__chevallier__div--parrafo, .section__urquiza__div--parrafo, .section__empArg__div--parrafo {
    font-family: "Monda", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    overflow: hidden;
    text-align: justify;
  }
}
@media screen and (max-width: 876px) {
  .section__chevallier p {
    font-size: 1rem;
  }
}
.section__titulo {
  padding-top: 50px;
}

@media screen and (max-width: 480px) {
  .section__chevallier p {
    font-size: 16px;
  }
  .formulario_titulo {
    text-align: center;
    font-size: 50px;
  }
  .formulario {
    padding: 0px;
  }
  .iconos__footer {
    font-size: 40px;
  }
}/*# sourceMappingURL=estilo.css.map */